:root {
  /* Font Family */
  --fontFamilyMain: Montserrat, sans-serif;

  /* Font Weight */
  --fontBold: 700;
  --fontMedium: 500;
  --fontRegular: 400;

  /* Heading Sizes */
  --heading-size-1: 48px;
  --heading-size-2: 40px;
  --heading-size-3: 36px;
  --heading-size-4: 32px;
  --heading-size-5: 28px;
  --heading-size-6: 24px;

  /* Heading Lines */
  --heading-line-1: 1.2;
  --heading-line-2: 1.2;
  --heading-line-3: 1.2;
  --heading-line-4: 1.2;
  --heading-line-5: 1.2;
  --heading-line-6: 1.2;


  /* Paragraph Sizes */
  --paragraph-size-1: 20px;
  --paragraph-size-2: 18px;
  --paragraph-size-3: 16px;
  --paragraph-size-4: 14px;
  --paragraph-size-5: 12px;
  --paragraph-size-6: 10px;

  /* Paragraph Lines */
  --paragraph-line-1: 1.5;
  --paragraph-line-2: 1.5;
  --paragraph-line-3: 1.5;
  --paragraph-line-4: 1.5;
  --paragraph-line-5: 1.5;
  --paragraph-line-6: 1.5;

  /* Padding Sizes */
  --padding-1: 20px;
  --padding-2: 18px;
  --padding-3: 16px;
  --padding-4: 14px;
  --padding-5: 12px;
  --padding-6: 10px;


  --heading-padding-1: 24px 48px; /* размеры padding для заголовка 1 */
  --heading-padding-2: 20px 40px; /* размеры padding для заголовка 2 */
  --heading-padding-3: 18px 36px; /* размеры padding для заголовка 3 */
  --heading-padding-4: 16px 32px; /* размеры padding для заголовка 4 */
  --heading-padding-5: 14px 28px; /* размеры padding для заголовка 5 */
  --heading-padding-6: 12px 24px; /* размеры padding для заголовка 6 */

  /* Padding Sizes for Paragraphs */
  --paragraph-padding-1: 12px 24px; /* размеры padding для текста 1 */
  --paragraph-padding-2: 10px 20px; /* размеры padding для текста 2 */
  --paragraph-padding-3: 9px 18px; /* размеры padding для текста 3 */
  --paragraph-padding-4: 8px 16px; /* размеры padding для текста 4 */
  --paragraph-padding-5: 7px 14px; /* размеры padding для текста 5 */
  --paragraph-padding-6: 6px 12px; /* размеры padding для текста 6 */

  /* Border Radius */
  --border-radius-1: 12px;
  --border-radius-2: 10px;
  --border-radius-3: 8px;
  --border-radius-4: 6px;
  --border-radius-5: 4px;
  --border-radius-6: 2px;

  /* Navbar Height */
  --navbar-height: 70px;

  /* Media Query Breakpoints */
  --mobile-width: 320px;
  --tablet-width: 768px;
  --desktop-width: 1024px;
  --large-desktop-width: 1600px;


  --size-1: 100px;
  --size-2: 80px;
  --size-3: 60px;
  --size-4: 40px;
  --size-5: 20px;
  --size-6: 10px;

  /* Heading Font Styles */
  --heading-1: var(--heading-size-1) / var(--heading-line-1) var(--fontFamilyMain);
  --heading-2: var(--heading-size-2) / var(--heading-line-2) var(--fontFamilyMain);
  --heading-3: var(--heading-size-3) / var(--heading-line-3) var(--fontFamilyMain);
  --heading-4: var(--heading-size-4) / var(--heading-line-4) var(--fontFamilyMain);
  --heading-5: var(--heading-size-5) / var(--heading-line-5) var(--fontFamilyMain);
  --heading-6: var(--heading-size-6) / var(--heading-line-6) var(--fontFamilyMain);

  /* Paragraph Font Styles */
  --paragraph-1: var(--paragraph-size-1) / var(--paragraph-line-1) var(--fontFamilyMain);
  --paragraph-2: var(--paragraph-size-2) / var(--paragraph-line-2) var(--fontFamilyMain);
  --paragraph-3: var(--paragraph-size-3) / var(--paragraph-line-3) var(--fontFamilyMain);
  --paragraph-4: var(--paragraph-size-4) / var(--paragraph-line-4) var(--fontFamilyMain);
  --paragraph-5: var(--paragraph-size-5) / var(--paragraph-line-5) var(--fontFamilyMain);
  --paragraph-6: var(--paragraph-size-6) / var(--paragraph-line-6) var(--fontFamilyMain);
}
